[submodule "backend"]
	path = backend
	url = https://github.com/FujiwaraKoki/DiscortionWeb_backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/FujiwaraKoki/DiscortionWeb_frontend.git
